header{
    background-color: beige;
    padding: 10px;
    text-align: center;
    color: black;
}
nav{
    background-color: black;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0.5px;
    font-weight: bold;
}
nav a:hover{
    color: gray;
}
.contenedor{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
}
.contenedor h2{
    color: cadetblue;
}
.contenedor p{
    color: brown;
    font-size: 10px;
    line-height: 1.6;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}