header{
    background-color: beige;
    padding: 1em;
    text-align: center;
    color: black;
}
nav{
    background-color: black;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0.1em;
    font-weight: bold;
}
nav a:hover{
    color: gray;
}
